.NameContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.nameHeader {
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.29);;
}

@media all and (max-width: 1024px) {
    video {
        display: none;
    }

    .videoContainer {
        display: none;
    }

}

@media all and (max-width: 820px) {
    video {
        display: none;
    }

    .videoContainer {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .videoContainer {
        display: none;
    }

    video {
        display: none;
    }
}